<table style="width: 100%; padding: 10px 35px; background-color: #db9292; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{{name}}}, welcome on our platform! You, Moments ago Uncommitted changes
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                You need submit your email, please click on button
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button>SUBMIT</button>
        </td>
    </tr>
</table>
